@inject NavigationManager Navigation
@inject UserSessionService UserSession
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorDesktop</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="" @onclick="GoHome">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>



        <div class="nav-item px-3 mt-4">
            <button class="btn btn-danger w-100" @onclick="Logout">
                Logoff
            </button>
        </div>
    </nav>
</div>

@code {
    private void GoHome()
    {
        if (UserSession?.LoggedInStudent != null)
        {
            Navigation.NavigateTo("/home");
        }
        else
        {
            Navigation.NavigateTo("/");
        }
    }

    private void Logout()
    {
        UserSession.LoggedInStudent = null;
        Navigation.NavigateTo("/", true);
    }
}
