@page "/"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>Welcome to your new app.</p>

<form action="/Quiz" method="get">
    <label for="utdId">UTD ID:</label>
    <input type="text" id="utdId" name="utdId" maxlength="10" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Submit</button>
</form>

<!-- Link to the teacher page -->


<!-- Display the IP address -->
<p>Your Public IP Address: @ipAddress</p>

@code {
    private string ipAddress = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        // Make an API call to an external service to get the public IP address
        try
        {
            ipAddress = await Http.GetStringAsync("https://api.ipify.org");
        }
        catch
        {
            ipAddress = "Unable to fetch IP";
        }
    }
}


