@page "/"
@code {
    // Written by Omar Khan for CS4485.001, starting March 21, 2025.
    // NetID: OLK200000
	// Login page for the application
}
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<form action="/Quiz" method="get">
    <label for="utdId">UTD ID:</label>
    <input type="text" id="utdId" name="utdId" maxlength="10" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Submit</button>

</form>

<!-- Link to the teacher page -->
<p><a href="/Teacher">Go to Teacher Page</a></p>
