@page "/Quiz"

<PageTitle>Quiz</PageTitle>

<h1>Quiz</h1>

<h3>Component</h3>

<form action="/results" method="post">
    <p>1. What is the capital of France?</p>
    <input type="radio" id="paris" name="q1" value="paris" required>
    <label for="paris">Paris</label><br>
    <input type="radio" id="london" name="q1" value="london">
    <label for="london">London</label><br>
    <input type="radio" id="rome" name="q1" value="rome">
    <label for="rome">Rome</label><br>
    <input type="radio" id="berlin" name="q1" value="berlin">
    <label for="berlin">Berlin</label><br>

    <button type="submit">Submit</button>
</form>

@code {

}
